<template>
  <v-container>
    <div class="comercial display-1 mx-auto" cols="12">This a Comercial</div>
  </v-container>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
</style>