<template>
  <v-container class="pa-6">
    <v-row class="pa-2">
      <v-card class="col-12 m-2" flat>
        <v-tabs
          v-model="tab"
          background-color="grey lighten-3"
          icon-and-text
          active-class="success white--text"
          grow
        >
          <v-tabs-slider></v-tabs-slider>

          <v-tab href="#tab-1">
            <v-icon>mdi-account-supervisor</v-icon>Por consultor
          </v-tab>

          <v-tab href="#tab-2">
            <v-icon>mdi-account-tie-outline</v-icon>Por cliente
          </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item value="tab-1">
            <v-form ref="formConsulters">
              <v-container class="grey lighten-4">
                <v-row>
                  <v-col cols="12" md="4" lg="4" align-self="center">
                    <v-row>
                      <v-col md="6" xs="6" sm="6" lg="6">
                        <v-menu v-model="menu1" :close-on-content-click="false" min-width="200">
                          <template v-slot:activator="{ on }">
                            <v-text-field
                              clearable
                              label="Desde"
                              readonly
                              prepend-icon="mdi-calendar-arrow-left"
                              v-on="on"
                              @click:clear="dateFrom = null"
                              :rules="rulesDateFrom"
                              v-model="computedDateFrom"
                              :value="dateFrom"
                            ></v-text-field>
                          </template>

                          <v-date-picker
                            v-model="dateFrom"
                            @change="menu1 = false"
                            color="green lighten-1"
                            type="month"
                            picker-date
                            :value="dateFrom"
                            min="2007-01"
                            max="2007-12"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>

                      <v-col md="6" xs="6" sm="6" lg="6">
                        <v-menu v-model="menu2" :close-on-content-click="false" min-width="200">
                          <template v-slot:activator="{ on }">
                            <v-text-field
                              clearable
                              label="Hasta"
                              readonly
                              prepend-icon="mdi-calendar-arrow-right"
                              v-on="on"
                              @click:clear="dateTo = null"
                              :rules="rulesDateTo"
                              v-model="computedDateTo"
                              :value="dateTo"
                            ></v-text-field>
                          </template>

                          <v-date-picker
                            v-model="dateTo"
                            @change="menu2 = false"
                            color="green lighten-1"
                            type="month"
                            picker-date
                            :value="dateTo"
                            min="2007-01"
                            max="2007-12"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                    </v-row>
                  </v-col>

                  <v-col cols="12" md="4" align-self="center">
                    <v-select
                      v-if="collaborators"
                      v-model="selectedCollaborators"
                      :items="collaborators"
                      label="Consultores"
                      multiple
                      chips
                      hint="Consultar uno o varios"
                      persistent-hint
                      item-text="no_usuario"
                      item-value="co_usuario"
                      small-chips
                      deletable-chips
                      :rules="inputRules"
                    ></v-select>
                  </v-col>

                  <v-col cols="12" md="4" align-self="center">
                    <v-card class="mx-auto" max-width="300">
                      <v-card-text>
                        <div class="text-center mb-2" align-self="center">
                          <v-btn
                            text
                            small
                            class="success mx-auto"
                            @click="submit('R')"
                            width="125"
                          >
                            Relatório
                            <v-icon right dark>mdi-layers-search-outline</v-icon>
                          </v-btn>
                        </div>

                        <div class="text-center mb-2" align-self="center">
                          <v-btn
                            text
                            small
                            class="success mx-auto"
                            @click="barChart('G', 'bar')"
                            width="125"
                          >
                            Gráfico
                            <v-icon right absolute dark>mdi-chart-bar</v-icon>
                          </v-btn>
                        </div>

                        <div class="text-center" align-self="center">
                          <v-btn
                            text
                            small
                            class="success mx-auto"
                            @click="pieChart('P', 'pie')"
                            width="125"
                          >
                            Pizza
                            <v-icon right dark fixed>mdi-chart-pie</v-icon>
                          </v-btn>
                        </div>
                      </v-card-text>
                    </v-card>
                  </v-col>
                </v-row>
              </v-container>
            </v-form>

            <v-row class="pa-4" >
              <v-col cols="12">
                <v-col cols="12" v-if="!loaded && !loadedChart" class="grey lighten-3">
                  <v-alert outlined type="success" text class="mx-auto display-1">
                    No data found ...
                  </v-alert>
                </v-col>
                <v-simple-table
                  v-else-if="loaded && !loadedChart"
                  dense
                  v-for="(collaborator, key, index) in dataCollaborators"
                  :key="index"
                  class="mb-4 py-2"
                >
                  <thead>
                    <tr class="py-2">
                      <th colspan="5">
                        <span
                          class="pa-2 blue-grey lighten-4 font-weight-bold"
                          style="border-top-left-radius: 10px; border-top-right-radius: 10px;"
                        >{{ key }}</span>
                      </th>
                    </tr>
                    <tr class>
                      <th class="font-weight-bold subtitle-2">Perído</th>
                      <th class="font-weight-bold subtitle-2">Recita Líquida</th>
                      <th class="font-weight-bold subtitle-2">Custo Fixo</th>
                      <th class="font-weight-bold subtitle-2">Commisão</th>
                      <th class="font-weight-bold subtitle-2">Lucro</th>
                    </tr>
                  </thead>
                  <tbody class="body-2">
                    <tr v-for="(data, key, index) in collaborator" :key="index">
                      <td class="text-left">{{ portuguesMonths(key) }} de {{year(data)}}</td>
                      <td
                        class="text-right"
                      >R$ {{ netEarnings(data).toFixed(2).replace('.', ',').replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.') }}</td>
                      <td
                        class="text-right"
                      >- R$ {{fixedCost(data).toFixed(2).replace('.', ',').replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.') }}</td>
                      <td
                        class="text-right"
                      >- R$ {{ commission(data).toFixed(2).replace('.', ',').replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.') }}</td>
                      <td
                        class="text-right"
                        :class="{
                            lessProfit: sumColumn(collaborator, 'L') < 0,
                          }"
                      >R$ {{ profit(data).toFixed(2).replace('.', ',').replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.') }}</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr class="grey lighten-2">
                      <td class="text-left subtitle-2 font-weight-bold">Total</td>
                      <td
                        class="text-right font-weight-bold"
                      >R$ {{ sumColumn(collaborator, 'RL').replace('.', ',').replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.') }}</td>
                      <td
                        class="text-right font-weight-bold"
                      >- R$ {{ sumColumn(collaborator, 'CF').replace('.', ',').replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.') }}</td>
                      <td
                        class="text-right font-weight-bold"
                      >- R$ {{ sumColumn(collaborator, 'C').replace('.', ',').replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.') }}</td>
                      <td
                        class="text-right font-weight-bold"
                        :class="{
                            plusProfit: sumColumn(collaborator, 'L') > 0, 
                            lessProfit: sumColumn(collaborator, 'L') < 0, 
                          }"
                      >R$ {{ sumColumn(collaborator, 'L').replace('.', ',').replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.') }}</td>
                    </tr>
                  </tfoot>
                </v-simple-table>
              </v-col>
            </v-row>

            <v-row class="pa-5" v-show="typeButtom === 'G' || typeButtom === 'P'">
              <v-col xs="12" sm="12" md="8" lg="8" cols="8"  class="grey lighten-3 mx-auto py-6 px-1">
                <chart 
                  :dataChartCollaborators="dataChartCollaborators" 
                  :typeChart="typeChart"
                  v-if="loadedChart && !loaded" 
                  class="grey lighten-3"
                ></chart>
              </v-col>
            </v-row>
          </v-tab-item>

          <v-tab-item value="tab-2">
            <v-card flat>
              <v-card-text>Tab 2</v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </v-card>
    </v-row>

    <popup :errors="errors" :dialog="dialog" @closePopUp="closePopUp" />
  </v-container>
</template>

<script>
import moment from "moment";
import toastr from "toastr";
import popup from "../components/core/Popup";
import { helpersMixins } from "../mixins/helpersMixins";
import chart from "../components/Chart";

export default {
  mixins: [helpersMixins],
  components: {
    popup,
    chart
  },
  created() {
    this.allColaborators();
  },
  data() {
    return {
      tab: null,
      dateFrom: "2007-01",
      dateTo: "2007-12",
      menu1: false,
      menu2: false,
      collaborators: null,
      selectedCollaborators: [],
      inputRules: [v => v.length > 0 || "Minimum legth is One Consultor!"],
      rulesDateFrom: [v => !!v || "Required"],
      rulesDateTo: [v => !!v || "Required"],
      errors: null,
      dialog: false,
      dataCollaborators: [],
      dataChartCollaborators: [],
      typeButtom: '',
      loaded: false,
      loadedChart: false,
    };
  },
  methods: {
    allColaborators() {
      let urlAllCollaborators = "/colaborators";
      let conditionsSystem = {
        co_sistema: 1,
        in_ativo: "S",
        co_tipo_usuario: [0, 1, 2]
      };

      axios
        .get(urlAllCollaborators, { params: conditionsSystem })
        .then(resp => {
          this.collaborators = resp.data.collaborators;
        })
        .catch(error => {
          console.log(error.data);
        });
    },
    async submit(fromButtom) {
      if (this.$refs.formConsulters.validate()) {
        this.loaded = false;
        this.loadedChart = false;
        this.typeButtom = fromButtom;
        let monthFrom = this.dateFrom.split("-");
        let monthTo = this.dateTo.split("-");

        monthFrom = monthFrom[1];
        monthTo = monthTo[1];

        if (Number(monthTo) < Number(monthFrom)) {
          this.dialog = true;
          this.errors = "The start date must not be greater than the end date!";
          return false;
        }

        let urlDataCollaborators = "/receita";

        let params = {
          startMonth: this.dateFrom,
          endMonth: this.dateTo,
          collaborators: this.selectedCollaborators
        };

        await axios
          .get(urlDataCollaborators, { params: params })
          .then(resp => {
            this.dataCollaborators = resp.data.performanceCollaborator;
            this.loaded = true;
          })
          .catch(error => {
            console.log(error);
          });
      }
    },
    async barChart(fromButtom, typeChart) {
      if (this.$refs.formConsulters.validate()) {
        this.loadedChart = false;
        this.loaded = false;
        this.typeButtom = fromButtom;
        this.typeChart = typeChart;
        let monthFrom = this.dateFrom.split("-");
        let monthTo = this.dateTo.split("-");

        monthFrom = monthFrom[1];
        monthTo = monthTo[1];

        if (Number(monthTo) < Number(monthFrom)) {
          this.dialog = true;
          this.errors = "The start date must not be greater than the end date!";
          return false;
        }

        let urlDataCollaborators = "/barchart";

        let params = {
          startMonth: this.dateFrom,
          endMonth: this.dateTo,
          collaborators: this.selectedCollaborators
        };

        await axios
          .get(urlDataCollaborators, { params: params })
          .then(resp => {
            this.dataChartCollaborators = resp.data.chartCollaborators;
            this.loadedChart = true;
          })
          .catch(error => {
            console.log(error);
          });
      }
    },
    async pieChart(fromButtom, typeChart) {
      if (this.$refs.formConsulters.validate()) {
        this.loadedChart = false;
        this.loaded = false;
        this.typeButtom = fromButtom;
        this.typeChart = typeChart;
        let monthFrom = this.dateFrom.split("-");
        let monthTo = this.dateTo.split("-");

        monthFrom = monthFrom[1];
        monthTo = monthTo[1];

        if (Number(monthTo) < Number(monthFrom)) {
          this.dialog = true;
          this.errors = "The start date must not be greater than the end date!";
          return false;
        }

        let urlDataCollaborators = "/barchart";

        let params = {
          startMonth: this.dateFrom,
          endMonth: this.dateTo,
          collaborators: this.selectedCollaborators
        };

        await axios
          .get(urlDataCollaborators, { params: params })
          .then(resp => {
            this.dataChartCollaborators = resp.data.chartCollaborators;
            this.loadedChart = true;
          })
          .catch(error => {
            console.log(error);
          });
      }
    },
    closePopUp() {
      this.dialog = false;
    },
    year(data) {
      let $year = null;
      data.forEach(element => ($year = element.year_emissao));
      return $year;
    },
    sumColumn(data, thisColumn) {
      let acumColumn = 0;
      let column = null;

      switch (String(thisColumn)) {
        case "RL":
          column = this.netEarnings;
          break;
        case "CF":
          column = this.fixedCost;
          break;
        case "C":
          column = this.commission;
          break;
        case "L":
          column = this.profit;
          break;
      }

      for (let key in data) {
        let arr = data[key];
        acumColumn = acumColumn + column(arr);
      }

      return acumColumn.toFixed(2);
    },
    netEarnings(data) {
      let earningNet = 0;
      data.forEach(element => {
        earningNet =
          earningNet +
          (parseFloat(element.valor) - parseFloat(element.valor) * (parseFloat(element.total_imp_inc) / 100));
      });
      return parseFloat(earningNet.toFixed(2));
    },
    fixedCost(data) {
      let costFixed = 0;

      data.forEach(element => {
        costFixed = parseFloat(element.brut_salario);
      });

      return parseFloat(costFixed.toFixed(2));
    },
    commission(data) {
      let commissionMont = 0;

      data.forEach(element => {
        commissionMont =
          commissionMont +
          ((parseFloat(element.valor) - (parseFloat(element.valor) * parseFloat(element.total_imp_inc)) / 100) *
            parseFloat(element.comissao_cn)) /
            100;
      });

      return parseFloat(commissionMont.toFixed(2));
    },
    profit(data) {
      let profitMonth = 0;

      let netEarnings = this.netEarnings(data);
      let fixedCost = this.fixedCost(data);
      let commission = this.commission(data);
      profitMonth =
        parseFloat(netEarnings) -
        (parseFloat(fixedCost) + parseFloat(commission));

      return parseFloat(profitMonth.toFixed(2));
    }
  },
  computed: {
    computedDateFrom: {
      get() {
        return this.dateFrom ? moment(this.dateFrom).format("MMMM") : "";
      },
      set(val) {
        if (val) this.dateFrom = val;
      }
    },
    computedDateTo: {
      get() {
        return this.dateTo ? moment(this.dateTo).format("MMMM") : "";
      },
      set(val) {
        if (val) {
          this.dateTo = val;
        }
      }
    },
    co_names() {
      let co_names = [];
      this.collaborators.filter(name => {
        if (name.no_usuario != "") {
          co_names.push(name.no_usuario);
        }
      });
      return co_names;
    }
  }
};
</script>

