<template>
  <v-container>
    <div class="usuario display-1 mx-auto" cols="12">This a Usuario</div>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      title: "Usuario"
    };
  }
};
</script>

<style lang="scss" scoped>
</style>