<template>
  <v-container>
    <v-row>
      <v-col cols="12" class="grey lighten-5">
        <canvas ref="chartBar"></canvas>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { helpersMixins } from "../mixins/helpersMixins";
import Chart from "chart.js";

export default {
  props: ["dataChartCollaborators", "typeChart"],
  mixins: [helpersMixins],
  data() {
    return {
      labelsChart: [],
      averageCostChart: null
    };
  },
  mounted() {
    if (this.typeChart === "bar") {
      this.createBarChart(this.dataChart, this.labelsChart);
    }
    if (this.typeChart === "pie") {
      this.createPieChart(this.dataPieChart, this.labelsChart);
    }
  },
  methods: {
    year(data) {
      let $year = null;
      data.forEach(element => ($year = element.year_emissao));
      return $year;
    },
    netEarnings(data) {
      let earningNet = 0;
      data.forEach(element => {
        earningNet =
          earningNet +
          (parseFloat(element.valor) -
            parseFloat(element.valor) *
              (parseFloat(element.total_imp_inc) / 100));
      });
      return parseFloat(earningNet.toFixed(2));
    },
    monthsChart(month) {
      let nameMonth = "";
      switch (Number(month)) {
        case 1:
          nameMonth = "Janeiro";
          return nameMonth;
        case 2:
          nameMonth = "Fevereiro";
          return nameMonth;
        case 3:
          nameMonth = "Março";
          return nameMonth;
        case 4:
          nameMonth = "Abril";
          return nameMonth;
        case 5:
          nameMonth = "Maio";
          return nameMonth;
        case 6:
          nameMonth = "Junho";
          return nameMonth;
        case 7:
          nameMonth = "Julho";
          return nameMonth;
        case 8:
          nameMonth = "Agosto";
          return nameMonth;
        case 9:
          nameMonth = "Setembro";
          return nameMonth;
        case 10:
          nameMonth = "Octubro";
          return "nameMonth";
        case 11:
          nameMonth = "Novembro";
          return nameMonth;
        case 12:
          nameMonth = "Dezembro";
          return nameMonth;
      }
    },
    sumElementsByMonth(data) {
      let earning = 0;
      let earningArray = [];
      data.forEach(element => {
        earning =
          earning +
          parseFloat(element.valor) -
          parseFloat(element.valor) * (parseFloat(element.total_imp_inc) / 100);
      });
      return earning;
    },
    createBarChart(dataChart, labels) {
      const ctx = this.$refs.chartBar;
      new Chart(ctx, {
        type: "bar",
        data: {
          labels: labels,
          datasets: dataChart
        },
        options: {
          responsive: true,
          title: {
            display: true,
            text: "Perfomance Collaborators",
            fontSize: 22
          },
          scales: {
            xAxes: [
              {
                stacked: true
              }
            ],
            yAxes: [
              {
                stacked: true
              }
            ]
          }
        }
      });
    },
    createPieChart(dataPieChart, labels) {
      const ctx = this.$refs.chartBar;
      new Chart(ctx, {
        type: "pie",
        data: {
          labels: labels,
          datasets: dataPieChart
        },
        options: {
          responsive: true,
          title: {
            display: true,
            text: "Participacao na Rece...",
            fontSize: 22
          }
        }
      });
    },
    labelsProccess(data) {
      let uniq = [...new Set(data)];

      let monthOfChart = uniq.map(month => this.portuguesMonths(month));

      let averageCost = uniq.map(x => 32000);

      this.labelsChart = monthOfChart ? monthOfChart : [];
      this.averageCostChart = averageCost;
    }
  },
  computed: {
    dataChart() {
      let myDataChart = clone(this.dataChartCollaborators);

      let arrayOfObjectChartCollaborators = [];
      let objectCollaborators = {};

      let earning = [];

      let i = 0;
      // let j = 0;
      let j = 1;

      let processEarning = 0;
      let randomColor = null;
      let labels = [];

      let entries = Object.entries(myDataChart);

      for (let [keys, values] of entries) {
        objectCollaborators.label = keys;
        randomColor = this.color();

        objectCollaborators.backgroundColor = randomColor;
        objectCollaborators.stack = String(i);

        let valuesObject = Object.entries(values);

        j = 1;
        earning = [];
        for (j; j <= 12; j++) {
          for (let [key, value] of valuesObject) {
            processEarning = Number(this.sumElementsByMonth(value).toFixed(2));

            if (Number(key) === j) {
              earning[j - 1] = processEarning;
            }
          }
          objectCollaborators.data = earning;
          labels.push(j);
        }

        arrayOfObjectChartCollaborators.splice(i, 0, objectCollaborators);
        earning = [];
        objectCollaborators = {};
        randomColor = null;
        i++;
      }

      this.labelsProccess(labels);

      let costAverage = {
        label: "Average Cost",
        data: this.averageCostChart,
        type: "line",
        borderWidth: 4,
        borderColor: "red",
        backgroundColor: "transparent",
        order: 1
      };

      arrayOfObjectChartCollaborators.splice(i, 0, costAverage);

      return arrayOfObjectChartCollaborators;
    },
    dataPieChart() {
      let myDataChartPie = clone(this.dataChartCollaborators);

      let arrayOfObjectChartPie = [];
      let objectDataPie = {};

      let earning = [];

      let i = 0;
      let j = 0;

      let processEarning = 0;
      let randomColor = null;
      let backgroundColorPie = [];

      let entries = Object.entries(myDataChartPie);
      this.labelsChart = [];

      let arrayDataPie = [];

      for (let [keys, values] of entries) {
        this.labelsChart.push(keys);

        let valuesObject = Object.entries(values);

        j = 0;

        for (let [key, value] of valuesObject) {
          // key Ana =>
          processEarning = Number(this.sumElementsByMonth(value).toFixed(2)); //[]

          earning.push(processEarning);

          j++;
        }
        earning = earning.reduce((a, b) => a + b);

        arrayDataPie.push(parseFloat(earning.toFixed(2)));

        randomColor = this.color();
        backgroundColorPie.push(randomColor);

        earning = [];
        objectDataPie = {};
        i++;
      }

      objectDataPie.data = arrayDataPie;
      objectDataPie.backgroundColor = backgroundColorPie;

      arrayOfObjectChartPie.push(objectDataPie);

      return arrayOfObjectChartPie;
    }
  }
};
</script>
