<template>
  <nav>
    <tool-bar></tool-bar>

    <v-navigation-drawer app v-model="inputValue" class="grey darker-1">
      <v-card max-width="240" class="mx-auto grey darken-1 py-2 mb-4 mt-1" flat router to="/">
        <v-img src="assets/agence-white.png" width="200px" class="mx-auto"></v-img>
      </v-card>
      <v-divider />
      <v-list nav dense>
        <v-list-item
          active-class="success"
          v-for="(link, i) in links"
          :key="i"
          router
          :to="link.route"
        >
          <v-list-item-icon>
            <v-icon class="white--text">{{ link.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-title class="white--text font-weight-light">{{ link.text }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </nav>
</template>

<script>
import { mapState, mapMutations } from "vuex";
import toolBar from "./Toolbar";

export default {
  components: {
    toolBar
  },
  data() {
    return {
      links: [
        { icon: "mdi-view-dashboard", text: "Agence", route: "/" },
        {
          icon: "mdi-clipboard-check-multiple-outline",
          text: "Projetos",
          route: "/projetos"
        },
        {
          icon: "mdi-file-table",
          text: "Administrativo",
          route: "/administrativo"
        },
        { icon: "mdi-account-tie", text: "Comercial", route: "/comercial" },
        {
          icon: "mdi-note-multiple",
          text: "Financeiro",
          route: "/financeiro"
        },
        { icon: "mdi-account-circle", text: "Usuario", route: "/usuario" },
        { icon: "mdi-close-circle", text: "Salir", route: "/logout" }
      ]
    };
  },
  methods: {
    ...mapMutations({
      toogleDrawer: "dashboard/TOOGLE_DRAWER"
    })
  },
  computed: {
    ...mapState({
      drawer: state => state.dashboard.drawer
    }),
    inputValue: {
      get() {
        return this.drawer;
      },
      set(val) {
        this.toogleDrawer(val);
      }
    }
  }
};
</script>

<style lang="scss" scoped></style>
