<template>
  <div class="text-center">
    <v-dialog v-model="dialog" width="450" persistent>
      <v-card>
        <v-card-title class="headline amber lighten-1 font-weight-black" primary-title>
          <v-icon left>mdi-alert</v-icon>
          Notificación
        </v-card-title>

        <v-card-text class="pa-4">
          {{ errors }}
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click.prevent="closeDialog()">
            Aceptar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: ['errors', 'dialog'],
  methods: {
    closeDialog() {
      this.$emit('closePopUp');
    }
  }
};
</script>
