<template>
  <v-app-bar flat app>
    <v-app-bar-nav-icon @click.stop="toggleDrawer(!drawer)">
      <v-icon class="grey--text" dark>mdi-dots-vertical</v-icon>
    </v-app-bar-nav-icon>

    <v-toolbar-title class="grey--text font-weight-light text-capitalize">
      <span class="font-weight-light" v-if="title">{{ title }}</span>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn text color="grey">
      <span>Sign Out</span>
      <v-icon right>mdi-exit-to-app</v-icon>
    </v-btn>
  </v-app-bar>
</template> 

<script>
import { mapState, mapMutations } from "vuex";

export default {
  data() {
    return {
      title: null
    };
  },
  methods: {
    ...mapMutations({
      toggleDrawer: "dashboard/TOOGLE_DRAWER"
    })
  },
  computed: {
    ...mapState({
      drawer: state => state.dashboard.drawer
    })
  },
  watch: {
    $route(val) {
      this.title = val.name;
    }
  }
};
</script>
  