<template>
  <v-app>
    <drawer />
    <v-content>
      <v-fade-transition mode="out-in">
        <router-view></router-view>
      </v-fade-transition>
    </v-content>
  </v-app>
</template>

<script>
import Drawer from "../components/core/Drawer";

export default {
  components: {
    Drawer
  }
};
</script>
